@font-face {
    font-family: 'TrushthaCausten-Light';
    src: url('/fonts/TrusthaCaustenRoundLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TrushthaCausten-Medium';
    src: url('/fonts/TrusthaCaustenRoundMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TrushthaCausten-Bold';
    src: url('/fonts/TrusthaCaustenRoundSemiBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TrushthaCausten-ExtraBold';
    src: url('/fonts/TrusthaCaustenRoundExtraBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}